#signIn * {
    box-sizing: border-box;
}

#signIn {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/snow.jpg');
    background-size: cover;
}

#signInDiv{
    width: 95vw;
    max-width: 480px;
    background: rgb(255, 255, 255);

    margin: 0 auto;
    padding: 120px 5%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    position: relative;
}

#signIn h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#signIn hr {
    margin-bottom: 5px;
}

#signIn input, #signIn button {
    font-size: 1.2rem;
    width: 90%;
    margin: 10px 5%;
    padding: 5px;
    outline: none;
}

#signIn button {
    background-size: 30px 30px;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(191, 194, 233, 0.6) 25%,
        rgba(150, 171, 224, 0.6) 25%,
        rgba(150, 171, 224, 0.6) 50%,
        rgba(191, 194, 233, 0.6) 50%,
        rgba(191, 194, 233, 0.6) 75%,
        rgba(150, 171, 224, 0.6) 75%,
        rgba(150, 171, 224, 0.6)
    );

    cursor: pointer;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

    #signIn button:hover {
        background-size: 40px 40px;
        animation: animate-button 2s linear infinite;
        -moz-animation: animate-button 2s linear infinite;
        -webkit-animation: animate-button 2s linear infinite;
    }

        @keyframes animate-button {
            0% {
                background-position-x: 0;
            }
            100% {
                background-position-x: 80px;
            }
        }
